.background {
    display: grid;
    grid-template-columns: 1fr 100vh 1fr;
    grid-template-rows: 1fr;
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    grid-area: 1 / 2 / 2 / 3;
}

.boxHover {
    transition: 0.2s;
    background-color: black;
}

div[name='box']:hover {
    transition: 0.2s;
    background-color: black;
}